{% extends 'main/base.html' %}

{% block content %}

<h1>{% block title %}{{ page.name }}{% endblock %}</h1>

<div class="panel-group" id="accordion">
	<div class="panel panel-default" id="textblocks-panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="#textblocks" href="#textblocks">Text blocks</a>
			</h4>
		</div>
		<div class="panel-collaps collapse in" id="textblocks">
			<div class="panel-body">
				<p><a href="{% url 'main:textblock_create' site_id=page.site.id page_id=page.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a></p>
				<div class="table-responsive">
					<table class="table table-hover">
						{% for textblock in textblocks %}
						<tr>
							<td class="col-md-11">
								<p>
									<label>{{ textblock.name }}</label>
								</p>
								<p>
									{{ textblock.content }}
								</p>
							</td>
							<td class="col-md-1">
								<a href="{% url 'main:textblock_update' site_id=page.site.id page_id=page.id pk=textblock.id %}" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a href="#" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
							</td>
						</tr>
						{% endfor %}	
					</table>	
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" id="images-panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="#images" href="#images">Images</a>
			</h4>
		</div>
		<div class="panel-collaps collapse in" id="images">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						{% for image in images %}
						<tr>
							<td class="col-md-11">
								{{ image.name }}
							</td>
							<td class="col-md-1">
								<a href="#" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a href="#" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
							</td>
						</tr>
						{% endfor %}	
					</table>	
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}