{% extends 'main/base.html' %}

{% block content %}

<h1>{% block title %}{{ page.name }}{% endblock %}</h1>

<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="images-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a data-toggle="collapse" data-target="#images" href="#images">Images</a>
      </h4>
    </div>
    <div class="panel-collaps collapse in" id="images">
      <div class="panel-body">
	<p><a href="{% url 'main:paragraphimage_upload' site_id=paragraph.page.site.id page_id=paragraph.page.id paragraph_id=paragraph.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a></p>
	<div class="table-responsive">
	  <table class="table table-hover">
	    {% for paragraphimage in pagagraphimages %}
	    <tr>
	      <td>
		<p>
		  {{ paragraphimage.name }}
		  <a href="{% url 'main:paragraphimage_update' site_id=paragraph.page.site.id page_id=paragraph.page.id paragraph_id=paragraph.id pk=paragraphimage.id %}" title="Edit">
		    <span class="glyphicon glyphicon-pencil"></span>
		  </a>
		  <a href="{% url 'main:paragraphimage_delete' site_id=paragraph.page.site.id page_id=paragraph.page.id paragraph_id=paragraph.id pk=paragraphimage.id %}" title="Delete">
		    <span class="glyphicon glyphicon-trash"></span>
		  </a>
		</p>
		<p><img src="{{ paragraphimage.image.url }}" alt="{{ paragraphimage.name }}"></p>
	      </td>
	    </tr>
	    {% endfor %}	
	  </table>	
	</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="videolinks-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a data-toggle="collapse" data-target="#videolinks" href="#videolinks">Video links</a>
      </h4>
    </div>
    <div class="panel-collaps collapse in" id="videolinks">
      <div class="panel-body">
	<p><a href="{% url 'main:paragraphvideo_create' site_id=paragraph.page.site.id page_id=paragraph.page.id paragraph_id=paragraph.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a></p>
	<div class="table-responsive">
	  <table class="table table-hover">
	    {% for paragraphvideo in paragraphvideos %}
	    <tr>
	      <td class="col-md-11">
		<p>{{ paragraphvideo.name }}</p>
		<p><iframe width="640" height="360" src="{{ paragraphvideo.link }}" frameborder="0" allowfullscreen></iframe></p>
	      </td>
	      <td class="col-md-1">
		<a href="{% url 'main:paragraphvideo_update' site_id=paragraph.page.site.id page_id=paragraph.page.id paragraph_id=paragraph.id pk=paragraphvideo.id %}" title="Edit">
		  <span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a href="{% url 'main:paragraphvideo_delete' site_id=paragraph.page.site.id page_id=paragraph.page.id paragraph_id=paragraph.id pk=paragraphvideo.id %}" title="Delete">
		  <span class="glyphicon glyphicon-trash"></span>
		</a>
	      </td>
	    </tr>
	    {% endfor %}	
	  </table>	
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
