{% extends 'main/base.html' %}

{% block content %}

<h1>{% block title %}Websites{% endblock %}</h1>

<p><a href="{% url 'main:website_create' %}">Create new website</a></p>

<div class="table-responsive">
	<table class="table table-hover">
		{% for website in websites %}
		<tr>
			<td class="col-md-10">
				<a href="{% url 'main:website_update' pk=website.id %}">{{ website.name }}</a>
			</td>
			<td class="col-md-2">
				<a href="{% url 'main:website_delete' pk=website.id %}">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</a>
			</td>
		</tr>
		{% endfor %}	
	</table>
</div>

{% endblock %}