{% extends 'main/base.html' %}

{% block content %}

<h1>{% block title %}Websites{% endblock %}</h1>

<p><a href="{% url 'main:website_create' %}" class="btn btn-primary">Create new website</a></p>

<div class="table-responsive">
	<table class="table table-hover">
		{% for website in websites %}
		<tr>
			<td class="col-md-11">
				<a href="{% url 'main:website_details' pk=website.id %}">{{ website.name }}</a>
			</td>
			<td class="col-md-1">
				<a href="{% url 'main:website_update' pk=website.id %}" title="Edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="{% url 'main:website_delete' pk=website.id %}" title="Delete">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
		</tr>
		{% endfor %}	
	</table>
</div>

{% endblock %}